<h1>Listing Comments</h1>

<%= form_for Comment.new, :remote => true do |f| %>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
    <%= f.submit "send" %>
  </div>
<% end %>

<ul id='comments'>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.message %>
    </li>
  <% end %>
</ul>
